@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

body {
}

.map {
  width: 100%;
  aspect-ratio: 1 / 1;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: grey;
  border-radius: 5px;
  background: rgba(255, 149, 0, 0.27);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffad2a;
  cursor: pointer;
}
